<section class="py-12 sm:py-16 bg-black text-white">
  <div class="max-w-7xl px-10 mx-auto sm:text-center">
      <h2 class="font-bold text-3xl sm:text-4xl lg:text-5xl mt-3">Get realtime updates.</h2>
      <p class="mt-4 text-gray-500 text-base sm:text-xl lg:text-2xl">Everyone on the same page. For real.<br class="lg:hidden hidden sm:block"> </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 my-12 sm:my-16">
          <div class="rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border border-gray-100">
              <img class="w-16 h-auto" src="../../../assets/zoom_logo1.svg">
              <p class="font-bold mt-4 mb-2">Zoom</p>
              <div class="w-52 bg-gray-200 h-1 mb-6 mx-auto">
                <div class="bg-green-500 h-1" [ngClass]="customCss1(allZoomData.status.indicator)" [style.width]="customCss2(allZoomData.status.indicator)"></div>
              </div>
              <p class="mt-2 text-sm text-gray-500">Status: {{allZoomData.status.description}}</p>
              <h2>Update: {{ allZoomData.page.updated_at | date:"MM.dd.yyyy', ' h:mm a" }}</h2>
              <a href="https://status.zoom.us/" class="hover:underline text-white">Zoom Status</a>
            </div>

          <div class="rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border border-gray-100">
              <img class="mb-1 w-16 h-auto" src="../../../assets/canvas_logo.ico">
              <p class="font-bold mt-4 mb-2">Canvas</p>
              <div class="w-52 bg-gray-200 h-1 mb-6 mx-auto">
                <div class="bg-green-500 h-1" [ngClass]="customCss1(allCanvasData.status.indicator)" [style.width]="customCss2(allCanvasData.status.indicator)"></div>
              </div>
              <p class="mt-2 text-sm text-gray-500">Status: {{allCanvasData.status.description}}</p>
              <h2>Update: {{ allCanvasData.page.updated_at | date:"MM.dd.yyyy', ' h:mm a" }}</h2>
              <a href="https://statushistory.instructure.com/unt.instructure.com" class="hover:underline text-white">UNT Canvas Status</a>
          </div>

          <div class="rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border border-gray-100">
              <img class="mb-1 w-16 h-auto" src="../../../assets/Respondus_Circle_Logo.png">
              <p class="font-bold mt-4 mb-2">Lockdown Browser</p>
              <div class="w-52 bg-gray-200 h-1 mb-6 mx-auto">
                <div class="bg-green-500 h-1" [ngClass]="customCss1(allRespondusData.status.indicator)" [style.width]="customCss2(allRespondusData.status.indicator)"></div>
              </div>
              <p class="mt-2 text-sm text-gray-500">Status: {{allRespondusData.status.description}}</p>
              <h2>Update: {{ allRespondusData.page.updated_at | date:"MM.dd.yyyy', ' h:mm a" }}</h2>
              <a href="https://status.respondus.com/" class="hover:underline text-white">Respondus Status</a>
          </div>

          <div class="rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border border-gray-100">
              <img class="mb-1 w-16 h-auto" src="../../../assets/turnitin-favicon.png">
              <p class="font-bold mt-4 mb-2">Turnitin</p>
              <div class="w-52 bg-gray-200 h-1 mb-6 mx-auto">
                <div class="bg-green-500 h-1" [ngClass]="customCss1(allTurnitinData.status.indicator)" [style.width]="customCss2(allTurnitinData.status.indicator)"></div>
              </div>
              <p class="mt-2 text-sm text-gray-500">Status: {{allTurnitinData.status.description}}</p>
              <h2>Update: {{ allTurnitinData.page.updated_at | date:"MM.dd.yyyy', ' h:mm a" }}</h2>
              <a href="https://turnitin.statuspage.io/" class="hover:underline text-white">Turnitin Status</a>
          </div>

      </div>
  </div>
</section>
