<br>
<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label for="exampleInputName1" class="form-label mt-4">Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" id="exampleInputName1" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputUsername1" class="form-label mt-4">Username</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control" id="exampleInputUsername1" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="name" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <br>
  <button (submit)="onRegisterSubmit()" type="submit" class="btn btn-primary">Submit</button>
</form>