<div class="jumbotron text-center">
    <h1>Hi There, Welcome to untStatus</h1>
    <p class="lead">Here we provide open-source information regarding the services the University of North Texas provides.</p>
   
</div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <h3>Canvas</h3>
      <p>Canvas is the Learning Management System students and teachers use to operate their courses.</p>
    </div>
    <div class="col-md-4">
      <h3>Respondus</h3>
      <p>Respondus is a custom browser that locks down the testing environment for remote exams.</p>
    </div>
    <div class="col-md-4">
      <h3>Zoom</h3>
      <p>Zoom is a chat session service that UNT utilizes to host lectures and proctored exams.</p>
    </div>
    <div style="margin-top: 50px"> </div> 
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Status: {{ rawlist_canvas.description }}</div>
      <div class="card-body">
        <h4 class="card-title">Canvas</h4>
        <h6 class="card-subtitle mb-2 text-muted">Updated at: {{ date_canvas.updated_at | date:"yyyy-MM-dd', ' h:mm a" }}</h6>
        <p class="card-text"></p>
        <div class="progress">
          <div [style.width] = "customCss2(indicator_canvas)" [ngClass]="customCss1(indicator_canvas)" role="progressbar" aria-valuenow=""class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <p class="card-text"></p>
        <a href="https://statushistory.instructure.com/unt.instructure.com" class="card-link text-white">UNT Canvas Status</a>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Status: {{ rawlist_respondus.description }}</div>
      <div class="card-body">
        <h4 class="card-title">Respondus</h4>
        <h6 class="card-subtitle mb-2 text-muted">Updated at: {{ date_respondus.updated_at | date:"yyyy-MM-dd', ' h:mm a" }}</h6>
        <p class="card-text"></p>
        <div class="progress">
          <div [style.width] = "customCss2(indicator_respondus)" [ngClass]="customCss1(indicator_respondus)" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <p class="card-text"></p>
        <a href="https://status.respondus.com/" class="card-link text-white">Respondus Status</a>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Status: {{ rawlist_turnitin.description }}</div>
      <div class="card-body">
        <h4 class="card-title">Turnitin</h4>
        <h6 class="card-subtitle mb-2 text-muted">Updated at: {{ date_turnitin.updated_at | date:"yyyy-MM-dd', ' h:mm a" }}</h6>
        <p class="card-text"></p>
        <div class="progress">
          <div [style.width] = "customCss2(indicator_turnitin)" [ngClass]="customCss1(indicator_turnitin)" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <p class="card-text"></p>
        <a href="https://turnitin.statuspage.io/" class="card-link text-white">Turnitin Status</a>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Status: {{ rawlist_zoom.description }}</div>
      <div class="card-body">
        <h4 class="card-title">Zoom</h4>
        <h6 class="card-subtitle mb-2 text-muted">Updated at: {{ date_zoom.updated_at | date:"yyyy-MM-dd', ' h:mm a" }}</h6>
        <p class="card-text"></p>
        <div class="progress">
          <div [style.width] = "customCss2(indicator_zoom)" [ngClass]="customCss1(indicator_zoom)" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <p class="card-text"></p>
        <a href="https://status.zoom.us/" class="card-link text-white">Zoom Status</a>
      </div>
    </div>
  </div>
